{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="col-md-9 col-lg-10">
        <div class="block profile_info">
            <div class="my-3 profile_image">
                <img class="profile_ava" src="{{ user.image.url }}">
            </div>
        <div class="profile_data">
            <p class="my-3 username"><b class="sm_pad_r">{{ user.username }}</b>
                <a class="profile_set" href="/edit_profile"><b>Edit Profile</b></a>
            </p>
            <p class="text-white my-3"><b>{{ post_am }}</b> posts <b class="sm_pad_l">{{ followers }}</b> followers <b class="sm_pad_l">{{ following }}</b> following</p>
            <p class="text-white my-3"><b>{{ user.first_name}} {{ user.last_name }}</b><br>{{ profile.status }}</p>
        </div>
    </div>
    <div>
        <p class="my-3 text-center text-white">Posts</p>
    </div>
        <div class="posts">
            {% if posts %}
                {% for p in posts %}
                    <div class="fill mx-1">
                        <a><img class="post_image my-2" data-id="{{ p.id }}" src="{{ p.image.url }}"></a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}